<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров: </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>
<header >
    <div class="container align-items-center header_wrapper">
        <div class="row align-items-center">
            <div class="col-md-6  text-center align-items-center">
                <p class="logo">
                    PetShopp<img src="https://www.pngmart.com/files/16/Vector-Dog-Face-PNG-Transparent-Image.png" width="35px">
                </p>
            </div>
            <div class="col-md-6  text-center align-items-center">
                <div class="container_wrapper">
                    <button id="filter" class="header-btn btn"> Фильтр</button>
                    <div class="">
                        <a class="header_link" href="../login.html">Войти</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col text-center content hidden">
            <form th:method="POST" th:action="@{/product/search}" class="sort_form">

                    <H2>Выберите параметры для сортировки, поиска, фильтрации</H2>
                <div class="form-decor">
                    <label for="search">Поиск по наименованию</label>
                    <input type="search" name="search"  th:value="*{value_search}" id="search">
                </div>
                <div class="form-decor">
                    <p>Цена, ₽</p>
                    <div>
                        <label for="ot">От</label>
                        <input type="text" name="ot"  th:value="*{value_price_ot}" id="ot">
                        <label for="do">До</label>
                        <input type="text" name="do"  th:value="*{value_price_do}" id="do">
                    </div>
                </div>
                <div class="decor-line"></div>
                <div class="form-decor">
                    <div>
                        <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                        <label for="ascending_price">Отсортировать по возрастанию цены</label>
                    </div>
                    <div>
                        <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
                        <label for="descending_price">Отсортировать по убыванию цены</label>
                    </div>
                </div>
                <div class="decor-line"></div>
                <div class="form-decor">
                    <p>Категория товаров: </p>
                    <div>
                        <input type="radio" id="furniture" name="category" value="furniture">
                        <label for="furniture">КОШКИ</label>

                        <input type="radio" id="appliances" name="category" value="appliances">
                        <label for=appliances>СОБАКИ</label>

                        <input type="radio" id="clothes" name="category" value="clothes">
                        <label for="clothes">ДРУГИЕ ЖИВОТНЫЕ</label>

                    </div>

                </div>

                    <input type="submit" value="Найти" class="header-btn">

            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center banner">
            <img src="https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <div th:each="product : ${search_product}">
                <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
                <br>
                <br>
                <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                <p th:text="'Цена: ' + ${product.getPrice()}"></p>
            </div>
        </div>
    </div>
</div>
<h3 class="cart_title" >Доступные товары: </h3>
<div class="container">
    <div class="row">
        <div th:each="product : ${products}" class="col-md-4 col-sm-6 col-12 text-center product-cart">
                <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
                <br>
                <br>
                <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}" id="title" ></a>
                <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        </div>
</div>


</div>

<footer>
    <div class="container align-items-center header_wrapper">
        <div class="row align-items-center">
            <div class="col-md-6  text-center align-items-center">
                <p class="logo">
                    PetShopp
                </p>
            </div>
            <div class="col-md-6  text-center align-items-center">
                <div class="container_wrapper">
                    <p>О КОМПАНИИ</p>
                    <p>СЕРВИСЫ</p>
                    <p>СВЯЗАТЬСЯ</p>
                </div>
            </div>

        </div>
    </div>

</footer>
<script th:src="@{/js/index2.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>